//accent
$primary-color: #3949ab;
$primary-hover: #334092;
$primary-active: #2e3fac;
$primary-disabled: #d0d0d0;

//text
$primary-text-color: #343434;
$secondary-text-color: #6f74dd;
$gray-text: #828282;
$white-text: #ffffff;

//input
$input-border: #d0d0d0;
$placeholder-text-color: #828282;

//background
$bg-color: #ffffff;
