@import "@styles/colors.module.scss";

.divider-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin:   5rem 0;
}

.divider {
  height: 1px;
  flex:1;
  background-color: #e6e9fa;
}

.divider-text {
  padding: 0 2rem;
  font-size: 14px;
  color: $gray-text;
}
