@import '@styles/colors.module.scss';

.chats-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-item {
  width: 300px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 3.5rem;
  
  .avatar {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      margin-right: 3rem;
    }

    &:hover {
      background-color: $input-border;
    }
  }


