.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.test {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mess {
  height: 100%;
}

