@import '@styles/colors.module.scss';

.box {
  position: relative;
}

.header-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: $primary-color;
  color: $white-text;
  margin-bottom: 4rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;

  img {
    height: 40px;
    margin-right: 1rem;
  }
}

.search-menu-container {
  flex:1;
}

.user-menu-container {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.5rem;

  .avatar {
    width: 8rem;
    border-radius: 50%;
    margin-right: 3rem;
  }
}

.header-user-menu {
  position: absolute;
  right: 0;
  top: 15rem;
  width: 150px;
  font-size: 3rem;
  padding: 2rem 0;
  border-radius: 2rem;
  border: 1px solid $input-border; 
  color: $secondary-text-color;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  

  .header-user-menu-item {
    padding: 1rem 5rem;
  }
}